<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Spring MVC Security Quickstart</title>
</head>
<div class="nav-container mb-3" th:fragment="navbar">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <div class="navbar-brand logo"></div>
      <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav d-none d-md-block">

          <!-- Login button: show if NOT authenticated -->
          <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a th:href="@{/oauth2/authorization/auth0}" id="qsLoginBtn" class="btn btn-primary btn-margin">Login</a>
          </li>
          <!-- / Login button -->

          <!-- Fullsize dropdown: show if authenticated -->
          <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="profileDropDown"
                    data-toggle="dropdown"
            >
              <!-- Profile image should be set to the profile picture from the id token -->
              <img th:src="${profile.get('picture')}"  alt="Profile picture" class="nav-user-profile rounded-circle" width="50"/>
            </a>
            <div class="dropdown-menu dropdown-menu-left">
              <!-- Show the user's full name from the id token here -->
              <div class="dropdown-header" th:text="${profile.get('name')}"></div>
              <a href="/profile" class="dropdown-item dropdown-profile">
                <i class="fas fa-user mr-3"></i> Profile
              </a>
              <a id="qsLogoutBtn" th:href="@{/logout}" class="dropdown-item">
                <i class="fas fa-power-off mr-3"></i> Log out
              </a>
            </div>
          </li>
          <!-- /Fullsize dropdown -->

        </ul>

        <!-- Responsive login button: show if NOT authenticated -->
        <ul sec:authorize="!isAuthenticated()" class="navbar-nav d-md-none">
          <a th:href="@{/oauth2/authorization/auth0}" id="qsLoginBtn" class="btn btn-primary btn-block">Login</a>
        </ul>
        <!-- /Responsive login button -->

        <!-- Responsive profile dropdown: show if authenticated -->
        <ul sec:authorize="isAuthenticated()" class="navbar-nav d-md-none justify-content-between" style="min-height: 120px;">
          <li class="nav-item">
                        <span class="user-info">
                        <!-- Profile image should be set to the profile picture from the id token -->
                            <img th:src="${profile.get('picture')}" alt="Profile picture" class="nav-user-profile d-inline-bloc rounded-circle mr-3" width="50"/>
                          <!-- Show the user's full name from the id token here-->
                            <h6 class="d-inline-block" th:text="${profile.get('name')}"></h6>
                        </span>
          </li>
          <li>
            <i class="fas fa-user mr-3"></i>
            <a th:href="@{/profile}"> Profile</a>
          </li>

          <li>
            <i class="fas fa-power-off mr-3"></i>
            <a th:href="@{/logout}"> Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</html>