<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>NEWS</title>
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
</div>
<div sec:authorize="isAuthenticated()">
    <p>Hi, you are in news!</p>
</div>

<body>

</body>
</html>