<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>If you are seeing this page then the Spring Security is not working as expected.</title>
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
</div>
<div sec:authorize="isAuthenticated()">
    <p>You are logged in!</p>
    <p>But should not be seeing this page as the permission should be deny all.</p>
</div>
</body>
</html>